.calendar-wrapper {
  header {
    text-align: center;
    margin: 20px 0 40px;
    h1 {
      font-size: 60px;
      border-bottom: 4px solid;
      padding-bottom: 10px;
      width: 50%;
      margin: 0 auto;

      @media screen and (max-width: 650px) {
        font-size: 40px;
        width: 80%;
      }
    }
  }
  .navigation {

    text-align: center;

    h2 {
      font-size: 30px;
      padding-bottom: 10px;
      width: 200px;
      margin: 0 auto;
      display: inline-block;

      @media screen and (max-width: 600px){
        width: 150px;
        font-size: 20px;
      }
    }

    span {
      font-size: 26px;

      @media screen and (max-width: 600px){
        font-size: 20px;
      }
    }

    span:hover {
      cursor: pointer;
    }
  }

  #calendar {
    text-align: center;
    list-style: none;
    max-width: 1224px;
    margin: 0 auto;
    padding: 0;

    p {
      margin: 0;
    }

    li {

      width: 100px;
      height: 100px;
      float: left;
      background: $color-primary-3;
      box-sizing: border-box;
      margin: 1px;

      a {

        .day-box {

          height: 100%;
          width: 100%;

          .day-number {
            display: block;
            margin: 3px 0 0 5px;
            text-align: left;
            color: white;
          }

          .event-count {
            display: block;
            text-align: center;
            color: $color-secondary-1;
            font-size: 16px;
            margin-top: 5px;
            span {
              font-size: 28px;
              display: block;
              color: $red-font;
            }
          }

        }
      }
    }
  }
}
