#candidate-profile {
  header {
    .candidate-image {
      img {
        border: 4px solid #092971;
        border-left: none;
        height: 400px;
        width: auto;

        @media screen and (max-width: 768px){
          width: 300px;
          height: auto;
        }
      }
    }

    .candidate-info {

      margin-top: 10px;

      h1 {
        font-size: 70px;
        margin: 10px 0 20px 0;
        border-bottom: 4px solid;
        padding-left:  20px;
        display: inline;


        @media screen and (max-width: 768px) {
          font-size: 40px;
        }

      }
    }

    margin-bottom: 30px;
  }

  section.candidate-desc {
    p {
      font-size: 17px;
      font-weight: 100;
      line-height: 29px;
      margin: 0 20px;
      max-width: 998px;
      text-align: justify;
    }
  }

  footer {

    margin-top: 20px;

    a:hover, a:active, a:focus, a {
      background-color: #00aced;
      color: #FFFFFF;
      margin-top: 20px;
      padding: 5px 15px;
      text-decoration: none;
      font-size: 17px;
    }
  }
}
