.candidates-wrapper {
  header {
    text-align: center;
    margin: 20px 0 40px;
    h1 {
      font-size: 60px;
      border-bottom: 4px solid;
      padding-bottom: 10px;
      width: 50%;
      margin: 0 auto;

      @media screen and (max-width: 650px) {
        font-size: 40px;
        width: 80%;
      }
    }
  }
  #candidates-list {
    text-align: center;
    list-style: none;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0;

    li {
      &:hover {
        cursor: pointer;
        .description-box {
          width: 300px;
        }
      }

      a {
        text-decoration: none !important;

        .description-box {
          height: 300px;
          width: 0;
          overflow: hidden;
          -webkit-transition: width 0.6s;
          transition: width 0.6s;
          z-index: 2;
          position: absolute;
          top: 0;
          left: 0;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        box-sizing: border-box;
        overflow: hidden;
        display: inline-block;
        height: 300px;
        width: 300px;
        position: relative;
        float: left;


        .candidate-text {
          z-index: 3;
          width: 300px;
          overflow: hidden;
          color: white;
          font-weight: 700;
          font-size: 50px;
        }

        .candidate-image {
          position: absolute;
          left: 0;
          top: 0;
          img {
            overflow: hidden;
            height: 300px;
            width: auto;

          }
        }

      }
    }
  }
}
