.day-wrapper {
  header {
    text-align: center;
    margin: 20px 0 40px;
    h1 {
      font-size: 60px;
      border-bottom: 4px solid;
      padding-bottom: 10px;
      width: 50%;
      margin: 0 auto;

      @media screen and (max-width: 650px) {
        font-size: 40px;
        width: 80%;
      }
    }

    h2 {
      font-size: 30px;
      padding: 10px 0;
      width: 200px;
      margin: 0 auto;

      @media screen and (max-width: 650px) {
        font-size: 20px;
        width: 150px;
      }
    }
  }
  #day {
    text-align: center;
    list-style: none;
    padding: 0;

    p {
      margin: 0;
    }

    li {

      width: 600px;
      box-sizing: content-box;
      margin: 0 auto;

      @media screen and (max-width: 650px){
        width: 100%;
      }

      a {
        text-decoration: none !important;
        box-sizing: border-box;

        .event-box {
          border: 2px solid #555;
          border-radius: 5px;
          margin: 10px 15px;
          padding: 10px 10px;
          overflow: hidden;

          .event-title {
            font-size: 18px;
            color: #051D55;
          }

          .event-place, .event-date {
            color: $red-font;
          }

        }
      }
    }
  }
}
