#event {
  text-align: center;
  list-style: none;
  padding: 0;

  .event-box {
    border: 2px solid #555;
    border-radius: 5px;
    padding: 10px 10px;
    overflow: hidden;
    width: 60%;
    margin: 0 auto;


    .event-title {
      font-size: 28px;
      color: #051D55;
      display: block;
    }

    .event-place, .event-date {
      color: $red-font;
      display: block;
    }

    .event-desc {
      color: #222222;
      margin-top: 20px;
    }



    @media screen and (max-width: 768px){
      width: 90%;

      .event-title {
        font-size: 18px;
      }
    }
  }

  .candidates {

    width: 60%;
    margin: 20px auto 0;

    @media screen and (max-width: 768px) {
      width: 90%;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        height: 24px;
        width: auto;
        float: left;
        background: $color-primary-3;
        margin: 2px 2px;
        padding: 2px 4px;

        a {
          color: white !important;
        }
      }
    }
  }
}

