.timeline-wrapper {
  header {
    text-align: center;
    margin: 20px 0 40px;
    h1 {
      font-size: 60px;
      border-bottom: 4px solid;
      padding-bottom: 10px;
      width: 50%;
      margin: 0 auto;

      @media screen and (max-width: 650px) {
        font-size: 40px;
        width: 80%;
      }
    }
  }
  #timeline {
    text-align: center;
    list-style: none;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0;

    p {
      margin: 0;
    }

    li {

      width: calc(50% - 3px);
      box-sizing: content-box;


      &.direction-0 {
        float: left;
        clear: both;

        border: 6px solid #333;
        border-bottom: none;
        border-top: none;
        border-left: none;

        .triangle {
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 8px 0 8px 15px;
          border-color: transparent transparent transparent #555;
          display: inline-block;
          float:right;
        }

      }

      &.direction-1 {
        float: right;
        clear: both;
        border: 6px solid #333;
        border-bottom: none;
        border-top: none;
        border-right: none;



        .triangle {
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 8px 15px 8px 0;
          border-color: transparent #555 transparent transparent;
          display: inline-block;
          float: left;
        }
      }

      &.tweet {
        .event-box {
          background: #ffffff;
          border: 2px solid #55acee;
          border-radius: 5px;
          padding: 10px 10px;
          text-align: left;
          font-family: Arial, sans-serif;
          font-size: 16px;

          p {
            text-align: center;
            color: #222;
            margin-top: 10px;
          }

          .event-name {
            color: #222222;
            font-size: 14px;
            font-weight: 700;

            @media screen and (max-width: 700px){
              display: none;
            }
          }

          .event-title {
            color: #222222;
            font-weight: 100;
            font-size: 16px;
          }

          .event-channel {
            color: #777;
            font-size: 13px;
            font-weight: 100;
            display: inline-block;

            &::before {
              content: "@";
              margin-right: -3px;
            }
          }

          .event-date {
            color: #777777;
            font-size: 13px;
            margin-left: 2px;
            display: inline-block;


            &::before {
              content: "\00b7"
            }
          }
        }

        &.direction-1 {
          .triangle {
            border-color: transparent #55acee transparent transparent;
          }
        }

        &.direction-0 {
          .triangle {
            border-color: transparent transparent transparent #55acee;
          }
        }
      }

      a {
        text-decoration: none !important;
        box-sizing: border-box;

        .triangle {
          margin-top: 42px;
        }

        .event-box {
          border: 2px solid #555;
          border-radius: 5px;
          margin: 10px 15px;
          padding: 10px 10px;
          overflow: hidden;

          .event-title {
            font-size: 18px;
            color: #051D55;
          }

          .event-place, .event-date {
            color: $red-font;
          }

        }
      }
    }
  }
}
