.tweets-wrapper {
  header {
    text-align: center;
    margin: 20px 0 40px;
    h1 {
      font-size: 60px;
      border-bottom: 4px solid;
      padding-bottom: 10px;
      width: 50%;
      margin: 0 auto;

      @media screen and (max-width: 650px) {
        font-size: 40px;
        width: 80%;
      }
    }
  }

  #tweets {
    background:  url('../images/phone.png');
    width: 508px;
    margin: 0 auto;
    padding-top: 158px;

    @media screen and (max-width: 769px){
      background: none;
      height: auto !important;
      padding: 0;
      width: 80%;
    }

    .list-wrapper {
      height: 100%;
      margin-left: 50px;
      overflow: auto;
      width: 426px;

      @media screen and (max-width: 600px){
        width: 100%;
        margin-left: 0;
      }

      #tweets-list {
        list-style: none;
        padding: 0;
        li.tweet-wrapper {
          width: 409px;

          @media screen and (max-width: 600px){
            width: 100%;
          }

          margin-right: 16px;
          border-bottom: 2px solid #777777;
          padding: 10px 0;
          &:hover {
            cursor: pointer;
          }
            p {
              text-align: center;
              color: #222;
              margin-top: 10px;
            }

            .tweet-name {
              color: #222222;
              font-size: 14px;
              font-weight: 700;

            }

            .tweet-title {
              color: #222222;
              font-weight: 100;
              font-size: 16px;
              font-family: Arial, sans-serif;
            }

            .tweet-channel {
              color: #777;
              font-size: 13px;
              font-weight: 100;
              display: inline-block;

              @media screen and (max-width: 600px){
                display: none;
              }

              &::before {
                content: "@";
                margin-right: -3px;
              }
            }

            .tweet-date {
              color: #777777;
              font-size: 13px;
              margin-left: 2px;
              display: inline-block;
              text-decoration: none !important;

              @media screen and (max-width: 600px){
                display: none;
              }

              &::before {
                content: "\00b7"
              }
            }
            img {
              border-radius: 5px;
              height: auto;
              width: 50px;
            }

            .tweet-channel:hover,.tweet-date:hover,.tweet-name:hover,.tweet-title:hover {
              text-decoration: none !important;
            }

          }
        }
    }
  }
}

#tweet {
  .tweet-box {
      background: #ffffff;
      border: 2px solid #55acee;
      border-radius: 5px;
      padding: 10px 10px;
      text-align: left;
      font-family: Arial, sans-serif;
      font-size: 16px;
      max-width: 500px;
      margin: 0 auto;

      img {
        border-radius: 5px;
        height: auto;
        width: 50px;
      }

      p {
        text-align: center;
        color: #222;
        margin-top: 10px;
      }

      .tweet-name {
        color: #222222;
        font-size: 14px;
        font-weight: 700;

        @media screen and (max-width: 700px){
          display: none;
        }
      }

      .tweet-title {
        color: #222222;
        font-weight: 100;
        font-size: 16px;
      }

      .tweet-channel {
        color: #777;
        font-size: 13px;
        font-weight: 100;
        display: inline-block;

        &::before {
          content: "@";
          margin-right: -3px;
        }
      }

      .tweet-date {
        color: #777777;
        font-size: 13px;
        margin-left: 2px;
        display: inline-block;


        &::before {
          content: "\00b7"
        }
      }
    }
  }

