$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
$color-primary-0: #0E348B;	/* Main Primary color */
$color-primary-1: #3F61AE;
$color-primary-2: #1D48A8;
$color-primary-3: #092971;
$color-primary-4: #051D55;

$color-secondary-0: #D3A05A;
$color-secondary-1: #ffe3bd;
$color-secondary-2: #FACE91;
$color-secondary-3: #B07C33;
$color-secondary-4: #895713;

$red-font: #D10A0A;

@import url(http://fonts.googleapis.com/css?family=Oswald:400,700&subset=latin-ext);
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

@import 'candidates';
@import 'candidate';
@import 'timeline';
@import "tweets";
@import "calendar";
@import "day";
@import "event";


.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  font-family: Oswald, sans-serif;
  background: $color-secondary-1;

  .marketing {
    color: $color-primary-3;
    h3 {
      text-align: center;
      font-size: 50px;
      padding-bottom: 10px;
      border-bottom: 4px solid $color-primary-2;
    }

    p {
      text-align: justify;
      font-size: 27px;
    }
  }
}

.logo-img {
  border-radius: 145px;
  padding: 15px;
}

.jumbotron {
  background: $color-primary-3;
  color: $color-secondary-1;
  margin: 30px auto;
  padding: 10px 20px;
  width: 60%;

  background: $color-primary-3; /* Old browsers */
  background: -moz-linear-gradient(-45deg,  $color-primary-2 0%, $color-primary-0 44%, $color-primary-1 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,$color-primary-2), color-stop(44%,$color-primary-0), color-stop(100%,$color-primary-1)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg,  $color-primary-2 0%,$color-primary-0 44%,$color-primary-1 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg,  $color-primary-2 0%,$color-primary-0 44%,$color-primary-1 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg,  $color-primary-2 0%,$color-primary-0 44%,$color-primary-1 100%); /* IE10+ */
  background: linear-gradient(135deg,  $color-primary-2 0%,$color-primary-0 44%,$color-primary-1 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color-primary-2', endColorstr='$color-primary-1',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: white;
  position: absolute;
  bottom: 0;
  left: 0;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

a:hover, a:focus {
  text-decoration: none !important;
}

.sidebar-nav {
  li {
    cursor: pointer;
  }
}
.new-comment-form {
  width: 50%;
  padding: 0;
  margin: 150px auto 50px;
  list-style: none;
  @media screen and (max-width: 768px){
    width: 90%;
  }

  .comment-form {
    textarea {
      width: 100%;
      min-width: 100%;
      max-width: 100%;
      max-height: 500px;
    }
  }
}

.comments-wrapper {
  #comments-list {
    width: 50%;
    padding: 0;
    margin: 20px auto;
    list-style: none;
    @media screen and (max-width: 768px){
      width: 90%;
    }
    li {

      margin: 20px 0;

      .glyphicon-remove {
        float: right;
        font-size: 18px;
        color: #D10A0A;
        cursor: pointer;
      }

      .glyphicon-pencil {
        float: right;
        font-size: 18px;
        color: #235ea3;
        cursor: pointer;
      }

      .comment-nick {
        padding: 2px 5px 0;
        background: $color-primary-3;
        color: white;
      }

      .comment-date {
        font-size: 12px;
        padding: 4px 5px 1px;
        background: $red-font;
        color: white;
      }

      .comment-content {
        padding: 10px;
        background: $color-secondary-2;
        color: #111111;
        font-family: Arial, sans-serif;
      }
    }
  }
}
