/*!
 * Start Bootstrap - Simple Sidebar HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/* Toggle Styles */

$color-primary-0: #0E348B;	/* Main Primary color */
$color-primary-1: #3F61AE;
$color-primary-2: #1D48A8;
$color-primary-3: #092971;
$color-primary-4: #051D55;

$color-secondary-0: #D3A05A;
$color-secondary-1: #FFE3BD;
$color-secondary-2: #FACE91;
$color-secondary-3: #B07C33;
$color-secondary-4: #895713;

$red-font: #D10A0A;

#wrapper {
    padding-left: 50px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 50px;
    height: 100%;
    margin-left: -250px;
    overflow: hidden;
    background: $color-primary-3;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {

    width: 100%;
    position: relative;
    padding: 20px 0 0;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 13px;
    line-height: 40px;
    padding: 5px 0;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: white;
    font-size: 20px;
    .glyphicon {
      display: inline;
      font-size: 22px;
      font-weight: 300;
      padding-right: 10px;
    }
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.1);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: auto;
    font-size: 25px;
    line-height: 60px;
    text-transform: uppercase;
    font-weight: 700;
    background: none;

    a {
      color: $red-font;
    }

    span:not(.glyphicon) {
      display: none;
    }

    .red {
      border-bottom: 2px solid white;
      font-size: 25px;
    }

    .white {
      color: white;
      border-bottom: 2px solid $red-font;
      font-size: 25px;
    }

  .glyphicon {
    display: block;
    border: none;
  }
}

.sidebar-nav > .sidebar-brand a:hover {
    color: $red-font;
    background: none;
}

.footer {
  padding-left: 0;
}

@media(min-width: 768px) {

  .sidebar-nav > .sidebar-brand  {
      height: 65px;
      span:not(.glyphicon) {
        display: inline;
      }

      .glyphicon {
        display: none;
      }
    }

    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px 0 0;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }

    .sidebar-nav li {
      text-indent: 20px;
      line-height: 40px;
      padding: 5px 0;
    }

    .footer {
      padding-left: 15px;
    }
}
