<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.js"></script>

	<!-- AUTH IMPORTS -->
    <script type="text/javascript" src="auth0-variables.js"></script>
	<script src="http://cdn.auth0.com/js/lock-7.3.2.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.17/angular-cookies.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.17/angular-route.js"></script>
    <script type="text/javascript" src="https://cdn.auth0.com/w2/auth0-angular-4.js"></script>
    <script src="http://cdn.rawgit.com/auth0/angular-storage/master/dist/angular-storage.js" type="text/javascript"> </script>
    <script src="http://cdn.rawgit.com/auth0/angular-jwt/master/dist/angular-jwt.js" type="text/javascript"> </script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<!-- AUTH IMPORTS -->


    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/sidebar.css">

    <!-- endbuild -->
  </head>
  <body ng-app="twojkandydat2015App">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div id="wrapper">
      <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a ng-href="#/">
                        <span class="glyphicon glyphicon-ok-sign red"></span><span class="red">Twój kandydat </span><span class="white">2015</span>
                    </a>
                </li>
                <li>
                    <a ng-href="#/timeline">
                      <span class="glyphicon glyphicon-resize-vertical"></span> Oś czasu</a>
                </li>
                <li>
                    <a ng-href="#/tweets">
                      <span class="glyphicon glyphicon-comment"></span> Najnowsze Tweety</a>
                </li>
                <li>
                    <a ng-href="#/calendar">
                      <span class="glyphicon glyphicon-calendar"></span> Kalendarium</a>
                </li>
                <li>
                    <a ng-href="#/candidates">
                      <span class="glyphicon glyphicon-user"></span> Kandydaci</a>
                </li>
                <li>
                    <a ng-href="#/about">
                      <span class="glyphicon glyphicon-eye-open"></span> O nas</a>
                </li>
                <li ng-click="login()" ng-controller="LoginCtrl">
                  <a>
                    <span class="glyphicon glyphicon-log-in"></span> Zaloguj
                  </a>
                </li>
                <li ng-click="logout()" ng-controller="LoginCtrl">
                  <a>
                    <span class="glyphicon glyphicon-log-out"></span> Wyloguj
                  </a>
                </li>
            </ul>
            <div class="footer">
              <div class="container">
                <p><span class="glyphicon glyphicon-heart"></span> ErAn</p>
              </div>
            </div>
        </div>

  <div id="page-content-wrapper">
        <div ng-view=""></div>
  </div>


  </div>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/about.js"></script>
        <script src="scripts/controllers/candidates.js"></script>
        <script src="scripts/controllers/candidate.js"></script>
        <script src="scripts/controllers/timeline.js"></script>
        <script src="scripts/controllers/tweets.js"></script>
        <script src="scripts/controllers/tweet.js"></script>
        <script src="scripts/controllers/calendar.js"></script>
        <script src="scripts/controllers/channel.js"></script>
        <script src="scripts/controllers/day.js"></script>
        <script src="scripts/controllers/comment.js"></script>
        <script src="scripts/controllers/event.js"></script>
        <script src="scripts/controllers/login.js"></script>
        <script src="scripts/services/load.js"></script>
        <script src="scripts/services/dayEvents.js"></script>
        <!-- endbuild -->
</body>
</html>
