<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.js">
</script>
<div ng-app="myApp" ng-controller="candidatesCtrl"> 

{{candidates}}

</div>

<script>
var app = angular.module('myApp', []);
app.controller('candidatesCtrl', function($scope, $http) {
    $http.get("http://eryzim.nazwa.pl/twojkandydat/getCandidates.php")
    .success(function (response) {$scope.candidates = response.records;})
	.error(function (response) {$scope.candidates = response;});
});
</script>