<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.js">
</script>
<div ng-app="myApp" ng-controller="candidateCtrl"> 

    <input type="text" size="40" ng-model="id">ID<br>
    <button ng-click="get()">Get candidate</button><br>
{{candidate}}

</div>

<script>
var app = angular.module('myApp', []);
app.controller('candidateCtrl', function($scope, $http) {
	$scope.get = function() {
		var url = "http://eryzim.nazwa.pl/twojkandydat/getCandidate.php";
		url = (($scope.id == undefined) ? url : url + "?id=" + $scope.id);
		$http.get(url)
		.success(function (response) {$scope.candidate = response.records;})
		.error(function(response) {$scope.candidate = response});
	}
});
</script>