<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.js">
</script>
<div ng-app="myApp" ng-controller="commentCtrl"> 
    <input type="text" size="40" ng-model="event_id">event_id<br>
    <input type="text" size="40" ng-model="nickname">nickname<br>
    <input type="text" size="40" ng-model="user_id">userID<br>
    <input type="text" size="40" ng-model="content">content<br>
    <input type="text" size="40" ng-model="date">date<br>
    <input type="text" size="40" ng-model="id">id<br>
    <button ng-click="add()">Add comment</button><br>

	{{response}}

</div>

<script>
var app = angular.module('myApp', []);
app.controller('commentCtrl', function($scope, $http) {
	$scope.add = function() {
		var m_url = "http://eryzim.nazwa.pl/twojkandydat/addComment.php";
		m_url = (($scope.id == undefined) ? m_url : m_url + "?id=" + $scope.id);
		var request = $http({
			method: "POST",
			url: m_url,
			data: {
				event_id: $scope.event_id,
				nickname: $scope.nickname,
				content: $scope.content,
				date: $scope.date,
				twitterID: $scope.twitterID,
				user_id: $scope.user_id
			},
			headers: { 'Content-Type': 'application/x-www-form-urlencoded' }
		});
		request.success(function (data) {
			$scope.response = data;
		});
		request.error(function(response) {
			$scope.response = response;
		});
	}
});
</script>