<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.js">
</script>
<div ng-app="myApp" ng-controller="commentCtrl"> 

    <input type="text" size="40" ng-model="ID">ID<br>
    <button ng-click="delete()">Delete comment</button><br>
{{response}}

</div>

<script>
var app = angular.module('myApp', []);
app.controller('commentCtrl', function($scope, $http) {
	$scope.delete = function() {
		var m_url = "http://eryzim.nazwa.pl/twojkandydat/deleteComment.php";
		m_url = (($scope.ID == undefined) ? m_url : m_url + "?id=" + $scope.ID);
		var request = $http({
			method: "GET",
			url: m_url,
			headers: { 'Content-Type': 'application/x-www-form-m_urlencoded' }
		});
		request.success(function (data) {
			$scope.reponse = data;
		});
		request.error(function(response) {
			$scope.response = response;
		});
	}

});
</script>