<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.js">
</script>
<div ng-app="myApp" ng-controller="eventsCtrl"> 
    <input type="text" size="40" ng-model="debate_tvname">TV Name<br>
    <input type="text" size="40" ng-model="debate_description">Description<br>
    <input type="text" size="40" ng-model="debate_host">Host<br>
    <input type="text" size="40" ng-model="debate_candidate_id">Candidate id<br>
    <input type="text" size="40" ng-model="debate_location">Location<br>
    <input type="text" size="40" ng-model="debate_time">Time<br>
    <button ng-click="addDebate()">Add debate</button><br>
	
	{{debate_response}}
	</br>
	</br>
	
    <input type="text" size="40" ng-model="votings_description">Description<br>
    <input type="text" size="40" ng-model="votings_candidate_id">Candidate id<br>
    <input type="text" size="40" ng-model="votings_location">Location<br>
    <input type="text" size="40" ng-model="votings_time">Time<br>
    <button ng-click="addVotings()">Add votings</button><br>
	
	{{votings_response}}
	</br>
	</br>
	
    <input type="text" size="40" ng-model="rallies_description">Description<br>
    <input type="text" size="40" ng-model="rallies_candidate_id">Candidate id<br>
    <input type="text" size="40" ng-model="rallies_location">Location<br>
    <input type="text" size="40" ng-model="rallies_time">Time<br>
    <button ng-click="addRallies()">Add rallies</button><br>

	{{rallies_response}}
	</br>
	</br>

    <input type="text" size="40" ng-model="tweets_content">Content<br>
    <input type="text" size="40" ng-model="tweets_candidate_id">Candidate_id<br>
    <input type="text" size="40" ng-model="tweets_time">Time<br>
    <input type="text" size="40" ng-model="tweets_login">Login<br>
    <input type="text" size="40" ng-model="tweets_name">Name<br>
    <input type="text" size="40" ng-model="tweets_pic">Pic<br>
    <button ng-click="addTweets()">Add tweets</button><br>

	{{tweets_response}}

</div>

<script>
var app = angular.module('myApp', []);
app.controller('eventsCtrl', function($scope, $http) {
	$scope.addDebate = function() {
		var request = $http({
			method: "POST",
			url: "http://eryzim.nazwa.pl/twojkandydat/addEvent.php?type=DEBATE",
			data: {
				tvname: $scope.debate_tvname,
				description: $scope.debate_description,
				host: $scope.debate_host,
				candidate_id: $scope.debate_candidate_id,
				location: $scope.debate_location,
				time: $scope.debate_time,
			},
			headers: { 'Content-Type': 'application/x-www-form-urlencoded' }
		});
		request.success(function (data) {
			$scope.debate_response = data;
		});
		request.error(function(response) {
			$scope.debate_response = response;
		});
	}
	$scope.addVotings = function() {
		var request = $http({
			method: "POST",
			url: "http://eryzim.nazwa.pl/twojkandydat/addEvent.php?type=VOTINGS",
			data: {
				description: $scope.votings_description,
				candidate_id: $scope.votings_candidate_id,
				location: $scope.votings_location,
				time: $scope.votings_time,
			},
			headers: { 'Content-Type': 'application/x-www-form-urlencoded' }
		});
		request.success(function (data) {
			$scope.votings_response = data;
		});
		request.error(function(response) {
			$scope.votings_response = response;
		});
	}
	$scope.addRallies = function() {
		var request = $http({
			method: "POST",
			url: "http://eryzim.nazwa.pl/twojkandydat/addEvent.php?type=RALLIES",
			data: {
				description: $scope.rallies_description,
				candidate_id: $scope.rallies_candidate_id,
				location: $scope.rallies_location,
				time: $scope.rallies_time,
			},
			headers: { 'Content-Type': 'application/x-www-form-urlencoded' }
		});
		request.success(function (data) {
			$scope.rallies_response = data;
		});
		request.error(function(response) {
			$scope.rallies_response = response;
		});
	}
	$scope.addTweets = function() {
		var request = $http({
			method: "POST",
			url: "http://eryzim.nazwa.pl/twojkandydat/addEvent.php?type=TWEET",
			data: {
				content: $scope.tweets_content,
				candidate_id: $scope.tweets_candidate_id,
				time: $scope.tweets_time,
				user_login: $scope.tweets_login,
				user_name: $scope.tweets_name,
				user_pic: $scope.tweets_pic,
			},
			headers: { 'Content-Type': 'application/x-www-form-urlencoded' }
		});
		request.success(function (data) {
			$scope.tweets_response = data;
		});
		request.error(function(response) {
			$scope.tweets_response = response;
		});
	}
});
</script>