<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.js">
</script>
<div ng-app="myApp" ng-controller="eventCtrl"> 

    <input type="text" size="40" ng-model="id">ID<br>
    <input type="text" size="40" ng-model="month">month<br>
    <input type="text" size="40" ng-model="limit">limit<br>
    <input type="text" size="40" ng-model="candidate_id">candidate ID<br>
    <button ng-click="get()">Get events</button><br>
{{events}}

</div>

<script>
var app = angular.module('myApp', []);
app.controller('eventCtrl', function($scope, $http) {
	$scope.get = function() {
		var url = "http://eryzim.nazwa.pl/twojkandydat/getEvents.php";
		url = (($scope.id == undefined) ? url : url + "?id=" + $scope.id);
		url = (($scope.month == undefined) ? url : url + "?month=" + $scope.month);
		url = (($scope.limit == undefined) ? url : url + "?limit=" + $scope.limit);
		url = (($scope.candidate_id == undefined) ? url : url + "?candidate_id=" + $scope.candidate_id);
		$http.get(url)
		.success(function (response) {$scope.events = response.records;})
		.error(function(response) {$scope.events = response});
	}
});
</script>