<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.js">
</script>
<div ng-app="myApp" ng-controller="candidatesCtrl"> 
    <input type="text" size="40" ng-model="name">Name<br>
    <input type="text" size="40" ng-model="surname">Surname<br>
    <input type="text" size="40" ng-model="party">Party<br>
    <input type="text" size="40" ng-model="age">Age<br>
    <input type="text" size="40" ng-model="description">Description<br>
    <input type="text" size="40" ng-model="image">Image<br>
    <input type="text" size="40" ng-model="twitterID">TwitterID<br>
    <button ng-click="add()">Add candidate</button><br>

	{{response}}

</div>

<script>
var app = angular.module('myApp', []);
app.controller('candidatesCtrl', function($scope, $http) {
	$scope.add = function() {
		var request = $http({
			method: "POST",
			url: "http://eryzim.nazwa.pl/twojkandydat/addCandidate.php",
			data: {
				name: $scope.name,
				surname: $scope.surname,
				party: $scope.party,
				age: $scope.age,
				description: $scope.description,
				image: $scope.image,
				twitterID: $scope.twitterID
			},
			headers: { 'Content-Type': 'application/x-www-form-urlencoded' }
		});
		request.success(function (data) {
			$scope.response = data;
		});
		request.error(function(response) {
			$scope.response = response;
		});
	}
});
</script>