<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.js">
</script>
<div ng-app="myApp" ng-controller="commentCtrl"> 

    <input type="text" size="40" ng-model="eventID">eventID<br>
    <button ng-click="get()">Get comments</button><br>
{{comments}}

</div>

<script>
var app = angular.module('myApp', []);
app.controller('commentCtrl', function($scope, $http) {
	$scope.get = function() {
		var m_url = "http://eryzim.nazwa.pl/twojkandydat/getComments.php";
		m_url = (($scope.eventID == undefined) ? m_url : m_url + "?eventID=" + $scope.eventID);
		var request = $http({
			method: "GET",
			url: m_url,
			headers: { 'Content-Type': 'application/x-www-form-m_urlencoded' }
		});
		request.success(function (data) {
			$scope.comments = data.records;
		});
		request.error(function(response) {
			$scope.comments = response;
		});
	}

});
</script>