<section class="calendar-wrapper">
  <header>
    <h1>Kalendarium</h1>
  </header>
  <div class="navigation">
    <span class="glyphicon glyphicon-chevron-left" ng-click="changeMonth(-1)"></span>
    <h2>{{currentMonth()}}</h2>
    <span class="glyphicon glyphicon-chevron-right" ng-click="changeMonth(1)"></span>
  </div>
  <ul id="calendar">
    <li ng-repeat="day in currentEvents" class="day-wrapper">
      <a ng-href="#/day" ng-click="showDayEvents(day,$index+1)">
        <div class="day-box">
          <span class="day-number">
            {{$index+1}}
          </span>
          <span class="event-count" ng-show="day.length">
            {{day.length}} {{printEventText(day.length)}}<span class="glyphicon glyphicon-exclamation-sign"></span>
          </span>
        </div>
      </a>
    </li>
  </ul>
</section>
