<section class="candidates-wrapper">
  <header>
    <h1>Kandydaci</h1>
  </header>

  <ul id="candidates-list">
    <li ng-repeat="candidate in candidates" class="candidate">
      <a ng-href="#/candidates/{{candidate.Id}}">
        <div class="description-box"  style="background-color: {{candidate.Color}}">
          <span class="candidate-text" >
            {{candidate.Name}}
            <br/>
            {{candidate.Surname}}
          </span>
        </div>

        <span class="candidate-image">
          <img ng-src="{{candidate.Image}}"/>
        </span>
      </a>
    </li>
</ul>
</section>
