<div id="candidate-profile">
    <header>
      <div class="candidate-image">
        <img ng-src="{{candidate.Image}}"/>
      </div>
      <div class="candidate-info">
        <h1>{{candidate.Name+' '+candidate.Surname}}</h1>
      </div>
    </header>
    <section class="candidate-desc">
      <p>{{candidate.Description}}</p>
    </section>
    <footer>
      <div class="twitter-channel">
        <a ng-href="#/channels/{{candidate.Id}}">
          @{{candidate.TwitterID}}
        </a>
      </div>
    </footer>
</div>






