

<div class="new-comment-form">
  <p class="comment-form">
    <textarea id="comment" ng-model="newComment"></textarea>
  </p>
  <button ng-click="addComment(newComment)" type="button" class="btn btn-success">ADD COMMENT</button>
</div>
<div class="comments-wrapper">
  <ul id="comments-list">
    <li ng-repeat="comment in comments">
      <span class="comment-nick">
        {{comment.nickname}}
      </span>
      <span class="comment-date">
        {{comment.date.toLocaleString()}}
      </span>
      <span ng-click="deleteComment(comment.id,$index)" class="glyphicon glyphicon-remove" ng-show="isAdmin"></span>
      <p class="comment-content">
        {{comment.content}}
      </p>
    </li>
  </ul>
</div>

