<section class="day-wrapper">
  <header>
    <h1>Wydarzenia</h1>
    <h2>{{day.day}} {{day.month}}</h2>
  </header>

  <ul id="day">
    <li ng-repeat="event in day.events" class="event-wrapper">
      <a ng-href="#/events/{{event.id}}">
        <div class="event-box event">
          <p class="event-title">
            {{event.description}}
          </p>
          <p class="event-place">
            {{event.location}}
          </p>
          <span class="event-date">
            {{event.time.toLocaleString()}}
          </span>
        </div>
      </a>
    </li>
  </ul>
</section>
