<div id="event">
  <div class="event-box">
    <span class="event-title">
      {{event.description}}
    </span>
    <span class="event-place">
      {{event.location}}
    </span>
    <span class="event-date">
      {{event.time.toLocaleString()}}
    </span>
    <span class="debate-tv" ng-if="event.type == 'DEBATE'">
      {{event.TVname}}
    </span>
    <span class="debate-host" ng-if="event.type == 'DEBATE'">
      {{event.host}}
    </span>
  </div>
  <div class="candidates">
    <ul>
      <li ng-repeat="candidate in candidates">
        <a ng-href="#/candidates/{{candidate.Id}}">
          {{candidate.Name}} {{candidate.Surname}}
        </a>
      </li>
    </ul>
  </div>
</div>

<ng-include src="'views/comment.html'" ng-controller="CommentCtrl"></ng-include>






