<div class="jumbotron">
  <h1>Twój kandydat 2015</h1>
  <p class="lead">
    <img class="logo-img" src="images/logo.png" alt="Wybory 2015"><br>
    Poznaj kandydatów na prezydenta i bądź świadom swojego wyboru!
  </p>
</div>

<div class="row marketing">
  <div class="col-lg-8 col-lg-offset-2">
    <h3>Witaj!</h3>
    <p>
      Nasza strona jest poświęcona wyborom na prezydenta Polski w roku 2015. Dzięki naszemu serwisowi będziesz
      mógł przeczytać najnowsze wpisy kandydatów na Twitterze oraz na bieżąco śledzić debaty i wszystkie
      wydarzenia związane z wyborami.
    </p>
  <div>
</div>
