<section class="timeline-wrapper">
  <header>
    <h1>Oś czasu</h1>
  </header>

  <ul id="timeline">
    <li ng-repeat="event in events" class="event-wrapper {{event.type}} direction-{{$index%2}}">
      <a ng-model="event" ng-href="#/{{event.type+'s'}}/{{event.id}}">
        <span class="triangle"></span>

        <div class="event-box tweet" ng-show="event.tweet">
          <span class="event-name">
            {{event.user_name}}
          </span>
          <span class="event-channel">
            {{event.user_login}}
          </span>
          <span class="event-date">
            {{event.time.toLocaleString()}}
          </span>
          <p class="event-title">
            {{event.content}}
          </p>
        </div>

        <div class="event-box event" ng-show="!event.tweet">
          <p class="event-title">
            {{event.description}}
          </p>
          <p class="event-place">
            {{event.location}}
          </p>
          <span class="event-date">
            {{event.time.toLocaleString()}}
          </span>
        </div>
      </a>
    </li>
  </ul>
</section>
