<div id="tweet">
  <div class="tweet-box">
    <img src="{{tweet.user_pic}}"/>
    <span class="tweet-name">
      {{tweet.user_name}}
    </span>
    <span class="tweet-channel">
      {{tweet.user_login}}
    </span>
    <span class="tweet-date">
      {{tweet.time.toLocaleString()}}
    </span>
    <p class="tweet-title">
      {{tweet.content}}
    </p>
  </div>
</div>

<ng-include src="'views/comment.html'" ng-controller="CommentCtrl"></ng-include>




