<section class="tweets-wrapper">
  <header>
    <h1>Tweety</h1>
  </header>

  <div id="tweets">
    <div class="list-wrapper">
      <ul id="tweets-list">
        <li ng-repeat="tweet in tweets" class="tweet-wrapper" ng-click="getMyCtrlScope().goTo('/tweets/'+tweet.id)">
            <img src="{{tweet.user_pic}}"/>
            <span class="tweet-name">
              {{tweet.user_name}}
            </span>
            <span class="tweet-channel">
              {{tweet.user_login}}
            </span>
            <span class="tweet-date">
              {{tweet.time.toLocaleString()}}
            </span>
            <p class="tweet-title">
              {{tweet.content}}
            </p>
        </li>
      </ul>
    </div>
  </div>

</section>
